In [1]:
from sqlalchemy.sql.expression import insert, delete, select, func
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine
from model.database.base import Base
from model.database.models import *
from model._check_insert import *
from model._dates import *
from model._cryption import *
from model._helper import *
from model._crud import *

import pandas as pd
from IPython.display import clear_output
from faker import Faker
import hashlib
import random

In [2]:
vg_sales = pd.read_csv('vgsales.csv')

In [3]:
engine = create_engine("sqlite:///video_games_sales.db", echo=True)

Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)
session = Session()
clear_output()

In [4]:
session.rollback()
users_list = []
fake = Faker('fr_FR')
for _ in range(2**6):
    name = encrypt(fake.name().lower().lower())
    email = hashlib.sha256(fake.email().lower().encode()).hexdigest()
    phone_number = encrypt(fake.phone_number())
    try:
        address, city_code = fake.address().lower().split('\n')
        address = encrypt(address)
        post_code, city_name = city_code.lower().split(' ', 1)
        country_name = fake.country().lower()
    except: 
        continue
    region_name = random.choice(['EU', 'US', 'JP', 'Other'])
    keep_info = random.choice([True, True, True, True, False])
    deleted_in = random_date(d, d_plus_five_y) if keep_info == True else random_date(d, d_plus_two_w)

    db = check_insert_data(session=session)
    post_code_db = db.post_code(region_name=region_name, country_name=country_name, city_name=city_name, post_code_value=post_code)
    
    users_list.append(User(name= name, email = email, phone_number = phone_number, address = address, post_code = post_code_db, keep_info=keep_info, deleted_in=deleted_in))
clear_output()
add_commit_close_clear(session, users_list)

In [5]:
year_list = [{'year_date':int(i)} for i in  sorted(vg_sales.Year[vg_sales.Year.notna()].unique().tolist())]
rank_list = [{'ranking':i} for i in sorted(vg_sales.Rank.unique().tolist())]
publisher_list = [{'name':i} for i in sorted(vg_sales.Publisher[vg_sales.Publisher.notna()].unique().tolist())]
platform_list = [{'name':i} for i in sorted(vg_sales.Platform.unique().tolist())]
genre_list = [{'name':i} for i in sorted(vg_sales.Genre.unique().tolist())]
game_list = [{'name':i} for i in sorted(vg_sales.Name.unique().tolist())]

classes = [Year, Rank, Publisher, Platform, Genre, Game]
lists = [year_list, rank_list, publisher_list, platform_list, genre_list, game_list]
output =[]
for i in range(6):
    try:
        session.rollback()
        session.bulk_insert_mappings(classes[i], lists[i])
        session.commit()
        output.append('Inserted')
    except Exception as e:
        output.append(f'Insertion failed due to {e}')
clear_output()
output

['Inserted', 'Inserted', 'Inserted', 'Inserted', 'Inserted', 'Inserted']

In [6]:
year_records = session.query(Year.id, Year.year_date).all()
year_to_id = {year_date:id for id, year_date in year_records}

rank_records = session.query(Rank.id, Rank.ranking).all()
rank_to_id = {ranking:id for id, ranking in rank_records}

publisher_records = session.query(Publisher.id, Publisher.name).all()
publisher_to_id = {name:id for id, name in publisher_records}

platform_records = session.query(Platform.id, Platform.name).all()
platform_to_id = {name:id for id, name in platform_records}

genre_records = session.query(Genre.id, Genre.name).all()
genre_to_id = {name:id for id, name in genre_records}

game_records = session.query(Game.id, Game.name).all()
game_to_id = {name:id for id, name in game_records}

game_version_list = [{'platform_id': platform_to_id[value.Platform], 
                      'rank_id':rank_to_id[value.Rank], 
                      'year_id':year_to_id[value.Year] if not pd.isna(value.Year) else None, 
                      'publisher_id':publisher_to_id[value.Publisher] if not pd.isna(value.Publisher) else None,
                      'game_id':game_to_id[value.Name], 
                      'genre_id':genre_to_id[value.Genre]} 
                      for _, value in vg_sales[['Platform', 'Rank', 'Year', 'Publisher', 'Name', 'Genre']].iterrows()]
game_version_list
game_version_df = pd.DataFrame(game_version_list)
game_version_df[game_version_df.publisher_id.isna()]

2025-12-04 09:59:18,219 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-04 09:59:18,220 INFO sqlalchemy.engine.Engine SELECT years.id AS years_id, years.year_date AS years_year_date
FROM years
2025-12-04 09:59:18,221 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ()
2025-12-04 09:59:18,223 INFO sqlalchemy.engine.Engine SELECT ranks.id AS ranks_id, ranks.ranking AS ranks_ranking
FROM ranks
2025-12-04 09:59:18,223 INFO sqlalchemy.engine.Engine [generated in 0.00048s] ()
2025-12-04 09:59:18,289 INFO sqlalchemy.engine.Engine SELECT publishers.id AS publishers_id, publishers.name AS publishers_name
FROM publishers
2025-12-04 09:59:18,290 INFO sqlalchemy.engine.Engine [generated in 0.00063s] ()
2025-12-04 09:59:18,291 INFO sqlalchemy.engine.Engine SELECT platforms.id AS platforms_id, platforms.name AS platforms_name
FROM platforms
2025-12-04 09:59:18,292 INFO sqlalchemy.engine.Engine [generated in 0.00040s] ()
2025-12-04 09:59:18,293 INFO sqlalchemy.engine.Engine SELECT genres.id AS genres_id, genres.name AS genres_name
FROM genres
2025-12-04 09:59:18,294 INFO sqlalchemy.engine.Engine [generated in 0.00046s] ()
2025-12-04 09:59:18,295 INFO sqlalchemy.engine.Engine SELECT games.id AS games_id, games.name AS games_name
FROM games
2025-12-04 09:59:18,295 INFO sqlalchemy.engine.Engine [generated in 0.00033s] ()

       platform_id  rank_id  year_id  publisher_id  game_id  genre_id
470             17      471      NaN           NaN    11492         3
1303            16     1304      NaN           NaN    10509        11
1662             7     1663     28.0           NaN     8610         4
2222             7     2223     26.0           NaN      773         4
3159             7     3160     25.0           NaN     6743         4
3166             7     3167     25.0           NaN     8981         4
3766             7     3767     25.0           NaN     8982         4
4145            18     4146      NaN           NaN     8866         5
4526             7     4527     25.0           NaN     9819         4
4635             7     4636     25.0           NaN     9820         4
5302            27     5303      NaN           NaN     2426         1
5647             7     5648     26.0           NaN     1297         4
6272             7     6273      NaN           NaN     9975         1
6437             7     6438     25.0           NaN     8863         4
6562             7     6563     25.0           NaN     2354         4
6648             7     6649     25.0           NaN     1299         4
6849             7     6850     25.0           NaN      273         4
7208             7     7209     25.0           NaN     6744         4
7351            17     7352      NaN           NaN    11332         3
7470             7     7471     25.0           NaN     8983         4
7953             7     7954     25.0           NaN    10172         2
8330             7     8331     25.0           NaN     2410         4
8341             7     8342     25.0           NaN     1532         4
8368             7     8369     25.0           NaN     9650         4
8503            14     8504     32.0           NaN     9214        12
8770             7     8771     26.0           NaN     1298         4
8848             7     8849     25.0           NaN     7372         4
8896             7     8897     25.0           NaN     9172         4
9517            14     9518     31.0           NaN     3059        10
9749            20     9750      NaN           NaN     9411        12
10382            7    10383     25.0           NaN     2200         4
10494            5    10495      NaN           NaN      542        11
11076           16    11077      NaN           NaN      155         1
11526            7    11527     25.0           NaN     1300         4
12487            5    12488      NaN           NaN     1433        10
12517           20    12518      NaN           NaN     7496         1
13278           18    13279      NaN           NaN     6060         8
13672           16    13673      NaN           NaN      562         2
13962           29    13963      NaN           NaN    11177         9
14087            5    14088      NaN           NaN     4212         1
14296            5    14297      NaN           NaN      813         4
14311            5    14312     33.0           NaN     8662         1
14698           14    14699     31.0           NaN    10590        10
14942           18    14943      NaN           NaN    10633         2
15056            5    15057     33.0           NaN    11260         5
15261            3    15262      NaN           NaN     5597        11
15325            7    15326     26.0           NaN     6745         4
15353           14    15354     32.0           NaN     2024        10
15788           21    15789     37.0           NaN     6125         2
15915            5    15916      NaN           NaN     2546         4
16191           14    16192      NaN           NaN     4159        12
16198           29    16199      NaN           NaN      113         4
16208            7    16209     26.0           NaN     9373         4
16229           29    16230      NaN           NaN     1068         9
16367           21    16368     37.0           NaN     1873         1
16494            3    16495     35.0           NaN     5173         6
16543           14    16544     32.0           NaN     2579         7
16553           29    16554     35.0           NaN      998         8

In [7]:
year_records = session.query(Year.id, Year.year_date).all()
year_to_id = {year_date:id for id, year_date in year_records}

rank_records = session.query(Rank.id, Rank.ranking).all()
rank_to_id = {ranking:id for id, ranking in rank_records}

publisher_records = session.query(Publisher.id, Publisher.name).all()
publisher_to_id = {name:id for id, name in publisher_records}

platform_records = session.query(Platform.id, Platform.name).all()
platform_to_id = {name:id for id, name in platform_records}

genre_records = session.query(Genre.id, Genre.name).all()
genre_to_id = {name:id for id, name in genre_records}

game_records = session.query(Game.id, Game.name).all()
game_to_id = {name:id for id, name in game_records}

game_version_list = [{'platform_id': platform_to_id[value.Platform], 
                      'rank_id':rank_to_id[value.Rank], 
                      'year_id':year_to_id[value.Year] if not pd.isna(value.Year) else None, 
                      'publisher_id':publisher_to_id[value.Publisher] if not pd.isna(value.Publisher) else None,
                      'game_id':game_to_id[value.Name], 
                      'genre_id':genre_to_id[value.Genre]} 
                      for _, value in vg_sales[['Platform', 'Rank', 'Year', 'Publisher', 'Name', 'Genre']].iterrows()]
game_version_list

try:
    session.rollback()
    bulk_commit(session, GameVersion, game_version_list)
    session.commit()
    output.append('Inserted')
except Exception as e:
    output.append(f'Insertion failed due to {e}')

In [8]:
session.rollback()
game_version_records = session.query(GameVersion.id.label('id'),
                                     Platform.name.label('platform'), 
                                     Rank.ranking.label('rank'), 
                                     Year.year_date.label('year_date'), 
                                     Publisher.name.label('publisher'), 
                                     Game.name.label('game'), 
                                     GameVersion.id.label('game_version_id'), 
                                     Genre.name.label('genre')
                                     ).join(GameVersion.platform).join(GameVersion.rank).join(GameVersion.year, isouter=True).join(GameVersion.publisher, isouter=True).join(GameVersion.game).join(GameVersion.genre).all()
records_data = [{'game_version_id': value.game_version_id,'Rank': value.rank, 'Platform': value.platform, 'Year_Date': value.year_date, 'Publisher': value.publisher, 'Game': value.game, 'Genre': value.genre} for value in game_version_records]
records_df = pd.DataFrame(records_data)
vg_sales2 = vg_sales.rename(columns={'Name':'Game', 'Year': 'Year_Date'}).copy()
match_columns = ['Rank', 'Platform', 'Year_Date', 'Publisher', 'Game', 'Genre']
merged_df = pd.merge(
    left=records_df,
    right=vg_sales2[['Rank', 'Platform', 'Year_Date', 'Publisher', 'Game', 'Genre', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']],
    left_on=match_columns,
    right_on=match_columns,
    how='right'
)
sales_list = [{'game_version_id': value.game_version_id, 'na_sales':value.NA_Sales, 'eu_sales':value.EU_Sales, 'jp_sales':value.JP_Sales, 'other_sales':value.Other_Sales} for _, value in merged_df.iterrows()]
sales_df = pd.DataFrame(sales_list)
print(sales_df.game_version_id.isna().sum())
sales_df[sales_df.game_version_id.isna()]
bulk_commit(session, Sale, sales_list)

'Inserted'

In [9]:
session.rollback()
transaction_list = []
for i in range(256):
    quantity = int(random.normalvariate(1.5, 1)) + 1
    random_game_version = session.query(GameVersion.id).order_by(func.random()).first()
    random_user = session.query(User.id).order_by(func.random()).first()
    transaction_list.append({'quantity':quantity, 'game_version_id':random_game_version.id, 'user_id':random_user.id})
bulk_commit(session, Transaction, transaction_list)

'Inserted'

In [10]:
session.query(Platform).filter_by(name='PC').first().id

2025-12-04 09:59:22,585 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-04 09:59:22,586 INFO sqlalchemy.engine.Engine SELECT platforms.id AS platforms_id, platforms.name AS platforms_name
FROM platforms
WHERE platforms.name = ?
 LIMIT ? OFFSET ?
2025-12-04 09:59:22,586 INFO sqlalchemy.engine.Engine [generated in 0.00031s] ('PC', 1, 0)

14

In [11]:
session.execute(delete(User).where(User.deleted_in <= datetime.datetime.now().date()))
session.commit()
clear_output()

# BREAK

In [12]:
session.rollback()
new_game = add_game_version(session, 'PC', '2025', 'CD Project', 'Cyberpunk 2077', 'Action')
new_game

In [13]:
session.rollback()
new_user = add_user(session, 'Cyril Leconte', 'cyril.leconte@email.com', '+33 6 06 06 06 06', '1 champ elysee', '75000', 'Paris', 'France', 'EU')
new_user

In [14]:
user = retrive_user_with_mail(session, 'cyril.leconte@email.com')
user

{'Name': 'Cyril Leconte',
 'Email': 'cyril.leconte@email.com',
 'Phone number': '+33 6 06 06 06 06',
 'Address': '1 champ elysee',
 'Post Code': '75000',
 'City': 'Paris',
 'Country': 'France',
 'Region': 'EU'}

In [15]:
game = retrive_game(session, 'Cyberpunk 2077')
game

{'Name': 'Cyberpunk 2077',
 'Platform': 'PC',
 'Year': 2025,
 'Publisher': 'CD Project',
 'Genre': 'Action'}